<%- include('header') %>

<div class="login-box" style="display: flex; justify-content: center;align-items: center; height: 500px; width: 500px; background-color: rgb(215, 250, 222); flex-direction: column;margin-top: 50%; margin-left: 50%; transform: translate(-50%, -125%);">
    <h6>Already have an account? <a href="/login">Login</a> </h6>
    <form action="/signup" method="post">
        <input type="text" placeholder="Name" name="name" id="signup-input">
        <br><br>
        <input type="number" name="age" placeholder="Age" id="signup-input"><br><br>
        <input type="email" placeholder="E-mail" name="email" id="signup-input">
        <br><br>
        <input id="signup-input" type="password" placeholder="Password" name="password">
        <br>
        <br>
        <button type="submit" class="next-btn" style="border: none;">Sign Up</button>
    </form>
</div>